.newsheader{
    padding: 10px;
    font-size: 3vw;
}
.newsimg{
    width: 65vw;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.newsitem{
    padding: 5px;
}
.newsdesc{
    font-size: 2.2vw;
}
.minitext{
    padding-top:5px;
    font-size: 1.7vw;
}
.fas{
    font-size: 5vw;
    text-align: center;
}
.col-sm{
    padding: 1px;
}
.weatherhead{
    padding-top: 10px;
}
.card-title{
    padding-top: 5px;
    text-align: center;
}
.card{
    text-align: center;
}
.fa-sun{
    color: gold;
}
.fa-moon{
    color: darkslateblue;
}
.fa-cloud-sun, .fa-cloud-night, .fa-cloud{
    color: darkslategray;
}
.fa-cloud-rain{
    color: rgb(0, 0, 206);
}
.fa-snowflake{
    color: rgb(0, 216, 216)
}
.fa-wind, .fa-fog{
    color:darkgrey
}
.navhead{
    color: whitesmoke;
}
.headers{
    font-size: 4.5vw;

    text-shadow: 1.5px 1.5px 1.5px gray;
}
.weatherhead{
    font-size: 2.7vw;
}
.currtext{
    font-size: 2vw;
}
.foretext{
    font-size: 1.75vw;
    padding: 0px;
}
